
.header{
    width: 100%;
    height: 75px;
    background-color: #28282B;

    .bigsearch_container{
        position: fixed;
        height: 100vh;
        background-color: #28282B ;
        z-index: 200;
    }

    .heading_container{
        display: flex;
        align-items: center;
        cursor: pointer;

        .heading_name{
            color: white;
            font-weight: bold;
            font-size: 22px;
            margin: 0 15px;
        }
    }

    .middle_container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .option{
            margin-right: 16px;
            color: lightgrey;
            font-weight: 700;
            font-size: 15px;
            cursor: pointer;

            &:hover{
                color:white;
            }
        }
    }

    .right_container{
        display: flex;
        align-items: center;
    }

}

.bigsearch_container{
    position: fixed;
    flex: 1;
    background-color: #28282B ;
    z-index: 200;
    min-height: 100%;

    .bigsearchbar_container{

    }
}