.main_icon{
    width: 40px;
    height: 40px;
    background-color: #FEDA03;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;    
}

.big{
    width: 80px;
    height: 80px;
    background-color: #FEDA03;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold; 
}

