.background_container {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: max-content;

  .blur_background {
    background-size: cover;
    background-color: white;
    background-position: center center;
    opacity: 0.5;
    filter: blur(1px);
    -webkit-mask: linear-gradient(white, transparent);
    height: 550px;
  }
}
.section1 {

  .left_intro {
    padding-top: 70px;
    z-index: 9;

    @media screen and (max-width: "768px"){
      padding-top: 50px;
    }
    @media screen and (max-width: "468px"){
      padding-top: 40px;
    }

    .section1_heading {
      font-size: 45px;
      font-weight: 600;
      @media screen and (max-width:"768px"){
        font-size: 30px;
      }
    }
    .subheading {
      font-size: 24px;
      max-width: 400px;
      margin-top: 20px;
      @media screen and (max-width:"768px"){
        font-size: 20px;
      }
    }
  }
  .right_intro {
    z-index: 9;
  }
}

.bignft_card {
  width: 100%;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;

  .nft_image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }

  .profile_section {
    .owner_image {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 15px;
    }
    .nft_name {
      font-weight: 600;
      font-size: 14px;
      color: rgb(4, 17, 29);
    }
    .owner_name {
      color: rgb(32, 129, 226);
      font-weight: 500;
      font-size: 14px;
    }
  }
}
