.wrapper {
  background-color: #28282b;

  .single {
    .single_heading {
      font-size: 36px;
      font-weight: 700;
      color: white;
      margin-bottom: 30px;
    }

    .upload_label {
      font-size: 17px;
      font-weight: 700;
      color: white;
    }

    .inputfile_container {
      border: 2px dashed rgba(255, 255, 255, 0.1);
      min-height: 150px;
      padding: 32px 60px;
      border-radius: 16px;
      .format_text {
        text-align: center;
        color: rgb(140, 140, 140);
        font-size: 15px;
        font-weight: 700;
      }
      .fileinput_label {
        height: 40px;
        width: 150px;
        background-color: #353935;
        color: white;
        font-weight: 600;
        margin-top: 20px;
        border-radius: 16px;
        border: none;
        outline: none;
        cursor: pointer;

        input {
          display: none;
        }
      }
    }
    .puton_marketplace {
      .puton_marketplace_heading {
        color: white;
        font-size: 17px;
        font-weight: 700;
      }
      .puton_marketplace_subheading {
        margin-top: 4px;
        font-size: 14px;
        color: rgb(140, 140, 140);
      }
    }
    .price_text {
      font-weight: 700;
      color: rgb(255, 255, 255);
      font-size: 17px;
    }
    .priceinput_container {
      border-bottom: 1px solid white;
      min-height: 48px;
      input {
        border: none;
        outline: none;
        flex: 1;
        background: none;
        font-size: 15px;
        color: white;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
    .rate_text {
      font-size: 14px;
      font-weight: 600;
      color: rgb(140, 140, 140);
      span {
        font-size: 17;
        color: white;
        font-weight: 700;
      }
    }
    .preview_section {
      border-radius: 16px;
      min-height: 350px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      .preview_text {
        text-align: center;
        color: rgb(140, 140, 140);
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
}

.tab_slide {
  height: 140px;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;

  span {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
  }
}
